*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general style */

html{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.play-bar{
    background-color: rgb(40, 40, 40);
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
}

.upgrade-bar{
    width: calc(100vw - 230px);
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.big-container{
    display: flex;
}

/* sidebar style */

.sidebar{
    flex-basis: 230px;
    background-color: black;
}

.sidebar-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1rem 0;
    height: calc(100vh - 80px);
    overflow-y: hidden;
}

.logo{
    width: 130px;
}

.logo-small{
    width: 20px;
}

.home-small,
.search-small,
.libreria-small{
    width: 20px;
}

.home-green{
    position: relative;
}

.home-green::before{
    content: "";
    position: absolute;
    left: -16px;
    bottom: 8px;
    height: 35px;
    border-left: 4px solid rgb(173, 255, 47);
}

.xs-sidebar{
    display: none;
}

.sidebar-list{
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.sidebar-list li, a{
    display: inline-block;
}

.sidebar-list li{
    list-style: none;
    padding-bottom: 0.5rem;
}

.sidebar-list .sidebar-element{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 700;
    color: gray;
}

.sidebar-list .home::before{
    content: url('../img/home.svg');
    display: inline-block;
    width: 25px;
    vertical-align: middle;
    margin-right: 5px;
}

.sidebar-list .search::before{
    content: url('../img/search.svg');
    display: inline-block;
    width: 25px;
    vertical-align: middle;
    margin-right: 5px;
}

.sidebar-list .my-library::before{
    content: url('../img/libreria.svg');
    display: inline-block;
    width: 25px;
    vertical-align: middle;
    margin-right: 5px;
}

.sidebar-list .playlist{
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
}

.sidebar-list .plus::before{
    content: "\2b";
    display: inline-block;
    margin-right: 10px;
    padding: 0.5rem 0.6rem;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 20px;
    background-color: gray;
    color: black;
    vertical-align: middle;
}

.sidebar-list .sidebar-element.plus{
    font-size: 15px;
} 

.sidebar-list .name-playlist{
    padding: 0.3rem 0;
}

.user-install .install{
    padding-bottom: 0.5rem;
    border-bottom: 1px solid gray;
}

.install .install-img{
    width: 15px;
    vertical-align: middle;
}

.install .download{
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    color: gray;
}

.username .user-img{
    background-color: grey;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    vertical-align: middle;
    margin: 0.5rem 0 0.5rem;
}

.username .name{
    font-size: 14px;
    font-weight: 700;
}

/* main section */

.main-content{
    height: 100%;
    flex-basis: calc(100vw - 230px);
    height: calc(100vh - 80px);
    overflow-y: auto;
    background-color: rgb(20, 25, 34);
}

.content-container{
    max-width: 97%;
    margin: 110px auto 0;
}

.nav-list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.nav-list li{
    list-style: none;
}

li .nav-link{
    margin: 0 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: gray;
    font-size: 13px;
    font-weight: 700;
}

.border-green{
    position: relative;
}

.border-green:after {
    content: "";
    position: absolute;
    left: 45px;
    bottom: -5px;
    height: 1px;
    width: 25%; 
    border-bottom: 2px solid rgb(173, 255, 47);
  }


.main-text{
    font-size: 27px;
    font-weight: 800;
}

.card-container{
    margin: 2rem 0;
    display: flex;
    gap: 1rem;
}

.card {
    width: 15%;
    aspect-ratio: 1 / 1;
    text-align: center;
    color: white;
    font-size: 13px;
}

.card .album{
    margin: 0.5rem 0;
    font-size: 15px;
    font-weight: 700;
}

.subtitle{
    font-size: 13px;
    font-weight: 600;
    color: gray;
}

.hidden{
    position: relative;
}

.cover-img{
    width: 100%;
}

.nascosta{
    position: absolute;
    font-size: 50px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    opacity: 0;
}

.cover-img.circle-img{
    border-radius: 50%;
}

/* bottom bar style */

.play-bar .bar-bottom-container{
    display: flex;
    align-items: center;
    padding: 1rem 0.5rem 1rem;
    height: 100%;
}

.bar-bottom-container .left-container{
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.bar-bottom-container .center-container{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.bar-bottom-container .right-container{
    flex: 0 1 auto;
    display: flex;
    align-items: center;
}

.bottom-img{
    width: 40px;
}

.left-container .album-play{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.play-bar a{
    text-decoration: none;
    color: white;
}

.band-name .artist-play{
    font-size: 13px;
    font-weight: 700;
    color: white;
}

.band-name .title-play{
    font-size: 11px;
    font-weight: 700;
    color: gray;
}

.favorite-play .left-icon {
    color: gray;
    margin-right: 1rem;
}

.icon-container .control-icon{
    margin: 0 0.5rem;
}

.icon-container .icon-play{
    font-size: 30px;
    vertical-align: middle;
    margin: 0 1rem;
}

.center-container .time-bar{
    display: flex;
    align-items: center;
}

.white-bar{
    position: absolute;
    height: 4px;
    width: 90px;
    background-color: white;
    border-radius: 2px;
}

.green-bar{
    position: absolute;
    height: 4px;
    width: 90px;
    background-color: rgb(173, 255, 47);
    border-radius: 2px;
    opacity: 0;
    z-index: 2;
}

.green-bar .dot{
    display: block;
    position: absolute;
    right: -5px;
    top: -5px;
}

.gray-bar{
    height: 4px;
    width: 400px;
    background-color: gray;
    border-radius: 2px;
}

.time-bar .time{
    font-size: 10px;
    font-weight: 600;
    margin: 0 2rem;
}

.volume-icons{
    margin-right: 1rem;
    font-size: 12px;
}

.white-bar.small{
    width: 25px;
}

.gray-bar.small{
    width: 90px;
}

.green-bar.small{
    width: 25px;
}

/* upgrade section */

.upgrade{
    position: absolute;
    right: 2em;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 25px;
}

/* hover style */

a:hover{
    color: white;
}

li .sidebar-element:hover{
    color: white;
}

.crea-playlist:hover .plus::before{
    background-color: white;
}

.card:hover .nascosta{
    cursor: pointer;
    opacity: 1;
}

.card:hover .cover-img{
    cursor: pointer;
    opacity: 0.5;
}

.install .download:hover{
    color: white;
}

.bar-bottom-container a:hover{
    color: white;
    text-decoration: underline;
}

.favorite-play .left-icon:hover{
    color: white;
}

.icon-container .icon-play:hover{
    transform: scale(1.2);
}

.upgrade:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.hoverable:hover .green-bar{
    cursor: pointer;
    opacity: 1;
}

/* media query */

@media screen and (max-width: 876px) {

    .card-container{
        flex-wrap: wrap;
    }
    .card{
        width: 20%;
        aspect-ratio: 1 / 1;
    }
}

@media screen and (max-width: 639px) {
    .card{
        width: 40%;
        aspect-ratio: 1 / 1;
    }
}


@media screen and (max-width: 552px) {
    .sidebar{
        flex-basis: 40px;
    }

    .main-content{
        flex-basis: calc(100vw - 40px);
    }

    .upgrade-bar{
        width: calc(100vw - 40px);
    }

    .xs-sidebar{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .user-install .install{
        border-bottom: 1px solid black;
    }

    .logo,
    .sidebar-list,
    .download,
    .name{
        display: none;
    }
}